.Home {

    .resume-info {
        margin-bottom: 30px;

        .label-emoji {
            margin-right: 6px;
        }
        .title {
            color: $booking-color3;
            transition: inherit;
            font-size: 1.5rem;
            margin-top: 0px;
            margin-bottom: 4px;
            font-weight: normal;
        }
    }

    .experience {
        margin-bottom: 50px;

        .experience-item {
            display: grid;
            grid-template-columns: 300px 2fr;
            border-top: 1px solid $booking-color8;
            padding: 30px 0;
            
            &:last-child {
                border-bottom: 1px solid $booking-color8;
            }

            .company-name {
                display: block;
                font-weight: bold;
                font-size: 1.3em;
                margin-bottom: 2px;
            }
            .working-period {
                font-size: 0.8em;
                color: $booking-color9;
            }
            .position {
                display: block;
                margin-bottom: 16px;
                font-weight: 500;
                color: $booking-color9;
            }
            .work-details {
                font-size: 0.9em;
            }
        }
    }


    .skill {

        .skill-list {

            li {
                display: inline-block;
                font-family: "Source Sans Pro",sans-serif;
                padding: 4px 14px;
                border-radius: 100px;
                border: solid 1px $booking-color10;
                font-size: 0.85em;
                margin: 0 8px 14px 0;

                &::before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    top: 50%;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    margin-right: 4px;
                    transform: translateY(-50%);
                }
            }
            .level-1::before {background-color: $booking-color10;}
            .level-2::before {background-color: $booking-color11;}
            .level-3::before {background-color: $booking-color12;}
        }
    }
}