.Content {
    .content-wrap {
        width: 90%;
        max-width: 1000px;
        min-height: 500px;
        margin: 0 auto;
    }

    .page-info {
        display: flex;
        align-items: center;
        margin: 50px 0 70px;

        .main-title {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .main-description {
            color: $booking-color18;
            margin-left: 16px;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}