.Home {

    .resume-info {
        margin-bottom: 30px;

        .label-emoji {
            margin-right: 6px;
        }
        .title {
            color: #1c7ed6;
            transition: inherit;
            font-size: 1.5rem;
            margin-top: 0px;
            margin-bottom: 4px;
            font-weight: normal;
        }
    }

    .experience {
        margin-bottom: 50px;

        .experience-item {
            display: grid;
            grid-template-columns: 300px 2fr;
            border-top: 1px solid #ddd;
            padding: 30px 0;
            
            &:last-child {
                border-bottom: 1px solid #ddd;
            }

            .company-name {
                display: block;
                font-weight: bold;
                font-size: 1.3em;
                margin-bottom: 2px;
            }
            .working-period {
                font-size: 0.8em;
                color: #8898aa;
            }
            .position {
                display: block;
                margin-bottom: 16px;
                font-weight: 500;
                color: #8898aa;
            }
            .work-details {
                font-size: 0.9em;
            }
        }
    }


    .skill {

        .skill-list {

            li {
                display: inline-block;
                font-family: "Source Sans Pro",sans-serif;
                padding: 4px 14px;
                border-radius: 100px;
                border: solid 1px #D8E0E7;
                /* border: solid 1px #e7f5ff; */
                font-size: 0.85em;
                margin: 0 8px 14px 0;
            }
        }
    }
}