.Project {

    .group {

        & + .group {
            padding-top: 40px;
            border-top: 1px solid #eee;
        }

        .group-title {
            display: block;
            margin-bottom: 32px;
            
            .title {
                color: #1c7ed6;
                transition: inherit;
                font-size: 1.4rem;
                margin-top: 0px;
                margin-bottom: 4px;
                /* font-weight: normal; */
            }
        }
    }

    .project-list {
        
        .project-item {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: 15px;
            min-height: 290px;
            margin-bottom: 48px;
            padding-left: 16px;
            border-left: 1px dashed #dee2e6;
            box-sizing: border-box;

            .project-info {
                /* border: 1px solid #ddd; */
                
                .title {
                    display: inline-block;
                    color: #495057;
                    transition: inherit;
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-top: 0px;
                    margin-bottom: 4px;
                }
                .period {
                    margin: 0px 0px 16px;
                    transition: inherit;
                    color: #868e96;
                    white-space: normal;
                    text-overflow: clip;
                    overflow: visible;
                    text-align: left;
                    font-size: 0.9rem;
                    font-weight: 300;
                    line-height: 1.5;
                    word-break: normal;
                }
                .explan {
                    margin: 8px 0px 0px;
                    transition: inherit;
                    color: var(--textNormal);
                    white-space: normal;
                    text-overflow: clip;
                    overflow: visible;
                    text-align: left;
                    font-size: 0.9rem;
                    font-weight: 300;
                    line-height: 1.5;
                    word-break: normal;
                }                
                .performance {
                    margin: 8px 0px 0px;
                    padding: 12px 0px 12px 0rem;
                    list-style: none;
            
                    li {
                        position: relative;
                        padding-left: 16px;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        font-size: 0.9rem;
                        font-weight: 300;
            
                        &::before {
                            position: absolute;
                            left: 0px;
                            display: inline-block;
                            content: "•";
                            color: #578cdc; 
                        }
                    }
                }
            
                .tool {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    flex-grow: 1;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
            
                    li {
                        margin: 2px;
                        padding: 4px 10px;
                        font-size: 0.8rem;
                        font-weight: 300;
                        background-color: #e7f5ff;
                        color: #1c7ed6;
                        border-radius: 4px;
                        line-height: 1.3;
                    }
                }
            }

            .project-visual {
                /* border: 1px solid #ddd; */
                background-color: #ddd;
            }
        }
    }

}