$booking-color1: #333333;
$booking-color2: #e7f5ff;
$booking-color3: #1c7ed6;
$booking-color4: #bbbbbb;
$booking-color5: #0c82fe;
$booking-color6: #ffffff;
$booking-color7: #000000;
$booking-color8: #dddddd;
$booking-color9: #8898aa;
$booking-color10: #D8E0E7;
$booking-color11: #cc864d;
$booking-color12: #4992d3;
$booking-color13: #464646;
$booking-color14: #dee2e6;
$booking-color15: #495057;
$booking-color16: #868e96;
$booking-color17: #578cdc;
$booking-color18: #585858;
$booking-color19: #ffffff;
$booking-color20: #8baed2;