@charset "UTF-8";
/* @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@mixin scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
} */
body {
  margin: 0;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a img {
  border: none;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

address, em, i, cite {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

table caption {
  overflow: hidden;
  width: 0;
  height: 0;
}

.screen-out {
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.skip-nav {
  position: fixed;
  top: -60px;
  width: 100%;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 1000;
}

.skip-nav:focus, .skip-nav:active {
  top: 0;
}

.Header {
  width: 100%;
  padding: 30px 0;
}

.Header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.Header .logo {
  display: inline-block;
  position: relative;
}

.Header .logo .chat-buble {
  display: block;
  width: 130px;
  line-height: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  border-radius: 15px;
  background-color: #0c82fe;
  color: #ffffff;
  z-index: 100;
}

.Header .logo .chat-buble::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -5px;
  border-top: 0px solid transparent;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 15px solid #0c82fe;
}

.Header .gnb li {
  display: inline-block;
  margin: 0 15px;
}

.Header .gnb li:last-child {
  margin-right: 0;
}

.Header .gnb li a {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.Header .gnb li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.Header .gnb li a:hover::after {
  width: 100%;
}

.Header .gnb li svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  color: #333333;
  margin-left: 5px;
}

.Content .content-wrap {
  width: 90%;
  max-width: 1000px;
  min-height: 500px;
  margin: 0 auto;
}

.Content .page-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 70px;
}

.Content .page-info .main-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.Content .page-info .main-description {
  color: #585858;
  margin-left: 16px;
  font-size: 0.8rem;
  font-weight: 500;
}

.Footer {
  width: 100%;
  padding: 30px 0;
  font-size: 0.7em;
}

.Footer .footer-wrap {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  color: #bbbbbb;
}

.Home .bio {
  margin-bottom: 80px;
}

.Home .bio .title {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.7em;
}

.Home .bio .title .bold-point {
  font-weight: bold;
}

.Home .bio .explanation {
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
  text-align: left;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5;
  word-break: normal;
}

.Home .bio .link {
  margin-top: 20px;
  text-decoration: underline;
  font-size: 0.8em;
  font-weight: 300;
}

.Home .bio .link a {
  display: inline-block;
  margin-right: 16px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Home .bio .link a:hover {
  color: #8898aa;
}

.Home .resume-info {
  margin-bottom: 30px;
}

.Home .resume-info .label-emoji {
  margin-right: 6px;
}

.Home .resume-info .title {
  color: #1c7ed6;
  -webkit-transition: inherit;
  transition: inherit;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: normal;
}

.Home .experience {
  margin-bottom: 50px;
}

.Home .experience .experience-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 2fr;
      grid-template-columns: 300px 2fr;
  border-top: 1px solid #dddddd;
  padding: 30px 0;
}

.Home .experience .experience-item:last-child {
  border-bottom: 1px solid #dddddd;
}

.Home .experience .experience-item .company-name {
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 2px;
}

.Home .experience .experience-item .working-period {
  font-size: 0.8em;
  color: #8898aa;
}

.Home .experience .experience-item .position {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  color: #8898aa;
}

.Home .experience .experience-item .work-details {
  font-size: 0.9em;
}

.Home .skill .title {
  display: inline-block;
}

.Home .skill .skill-level {
  position: relative;
  display: inline-block;
}

.Home .skill .skill-level img {
  position: relative;
  top: -16px;
  margin-left: 4px;
  cursor: pointer;
}

.Home .skill .skill-level img:hover ~ .skill-level-item {
  opacity: 1;
  -webkit-transform: opacity .1s;
          transform: opacity .1s;
}

.Home .skill .skill-level .skill-level-item {
  position: absolute;
  top: -30px;
  left: 30px;
  min-width: 200px;
  padding: 8px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Home .skill .skill-level .skill-level-item li {
  font-size: 0.7em;
  padding: 2px 0;
}

.Home .skill .skill-level .skill-level-item li::before {
  content: '';
  position: relative;
  display: inline-block;
  top: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Home .skill .skill-level .skill-level-item .level-1::before {
  background-color: #D8E0E7;
}

.Home .skill .skill-level .skill-level-item .level-2::before {
  background-color: #cc864d;
}

.Home .skill .skill-level .skill-level-item .level-3::before {
  background-color: #4992d3;
}

.Home .skill .skill-list li {
  display: inline-block;
  font-family: "Source Sans Pro",sans-serif;
  padding: 4px 14px;
  border-radius: 100px;
  border: solid 1px #D8E0E7;
  font-size: 0.85em;
  margin: 0 8px 14px 0;
}

.Home .skill .skill-list li::before {
  content: '';
  position: relative;
  display: inline-block;
  top: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Home .skill .skill-list .level-1::before {
  background-color: #D8E0E7;
}

.Home .skill .skill-list .level-2::before {
  background-color: #cc864d;
}

.Home .skill .skill-list .level-3::before {
  background-color: #4992d3;
}

@media (max-width: 757px) {
  .Home .experience .experience-item {
    /* background-color: red; */
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Home .experience .experience-item .position {
    margin-top: 8px;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .experience-item {
    /* background-color: rgb(76, 0, 255); */
  }
}

@media (min-width: 1024px) {
  .experience-item {
    /* background-color: rgb(0, 255, 85); */
  }
}

.Project .group + .group {
  padding-top: 40px;
}

.Project .group .group-title {
  display: block;
  margin-bottom: 32px;
}

.Project .group .group-title .title {
  color: #1c7ed6;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: normal;
}

.Project .project-list .project-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  min-height: 290px;
  margin-bottom: 48px;
  padding-left: 16px;
  border-left: 1px dashed #dee2e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Project .project-list .project-item .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Project .project-list .project-item .project-info .title {
  display: inline-block;
  color: #495057;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 4px;
}

.Project .project-list .project-item .project-info .title .link {
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Project .project-list .project-item .project-info .title .link:hover {
  color: #1c7ed6;
  -webkit-transform: color;
          transform: color;
}

.Project .project-list .project-item .project-info .period {
  margin: 0px 0px 16px;
  -webkit-transition: inherit;
  transition: inherit;
  color: #868e96;
  white-space: normal;
  text-overflow: clip;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1.5;
  word-break: normal;
}

.Project .project-list .project-item .project-info .explan {
  margin: 8px 0px 0px;
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
  text-align: left;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5;
  word-break: normal;
}

.Project .project-list .project-item .project-info .performance {
  margin: 8px 0px 0px;
  padding: 12px 0px 12px 0rem;
  list-style: none;
}

.Project .project-list .project-item .project-info .performance li {
  position: relative;
  padding-left: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.9rem;
  font-weight: 100;
}

.Project .project-list .project-item .project-info .performance li::before {
  position: absolute;
  left: 0px;
  display: inline-block;
  content: "•";
  color: #578cdc;
}

.Project .project-list .project-item .project-info .tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.Project .project-list .project-item .project-info .tool li {
  margin: 2px;
  padding: 4px 10px;
  font-size: 0.8rem;
  font-weight: 100;
  background-color: #e7f5ff;
  color: #1c7ed6;
  border-radius: 4px;
  line-height: 1.3;
}

.Project .project-list .project-visual {
  text-align: right;
}

.Project .project-list .project-visual .visual-img-box {
  position: relative;
  display: inline-block;
}

.Project .project-list .project-visual .visual-img-box img {
  width: 100%;
  max-width: 350px;
}

.Project .project-list .project-visual .visual-img-box .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0;
                    transition: all 1.5s;
                    background-color: rgb(67 92 107 / 22%); */
}

.Project .project-list .project-visual .visual-img-box .img-wrap span {
  position: absolute;
  background: #8baed2;
}

.Project .project-list .project-visual .visual-img-box .img-wrap span.line-right {
  top: 0;
  bottom: 0;
  right: -1px;
  width: 6px;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01) 0.43s;
  transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01) 0.43s;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01) 0.43s;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01) 0.43s, -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01) 0.43s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.Project .project-list .project-visual .visual-img-box .img-wrap span.line-top {
  left: 0;
  right: 0;
  height: 6px;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.18s linear 0.53s;
  transition: -webkit-transform 0.18s linear 0.53s;
  transition: transform 0.18s linear 0.53s;
  transition: transform 0.18s linear 0.53s, -webkit-transform 0.18s linear 0.53s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.Project .project-list .project-visual .visual-img-box .img-wrap span.line-left {
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  -webkit-transition: -webkit-transform 0.18s linear 0.61s;
  transition: -webkit-transform 0.18s linear 0.61s;
  transition: transform 0.18s linear 0.61s;
  transition: transform 0.18s linear 0.61s, -webkit-transform 0.18s linear 0.61s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.Project .project-list .project-visual .visual-img-box .img-wrap span.line-bottom {
  bottom: -1px;
  left: 0;
  right: 0;
  height: 6px;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0.65, 1.01);
  transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0.65, 1.01);
  transition: transform 0.4s cubic-bezier(1, 0, 0.65, 1.01);
  transition: transform 0.4s cubic-bezier(1, 0, 0.65, 1.01), -webkit-transform 0.4s cubic-bezier(1, 0, 0.65, 1.01);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.Project .project-list .project-visual .visual-img-box .img-wrap:hover {
  /* opacity: 1; */
}

.Project .project-list .project-visual .visual-img-box .img-wrap:hover span {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.Project .project-list .project-visual .visual-img-box .img-wrap:hover .line-right {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.3s;
  transition: -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.Project .project-list .project-visual .visual-img-box .img-wrap:hover .line-top {
  -webkit-transition: -webkit-transform 0.18s linear 0.5s;
  transition: -webkit-transform 0.18s linear 0.5s;
  transition: transform 0.18s linear 0.5s;
  transition: transform 0.18s linear 0.5s, -webkit-transform 0.18s linear 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.Project .project-list .project-visual .visual-img-box .img-wrap:hover .line-left {
  -webkit-transition: -webkit-transform 0.18s linear 0.68s;
  transition: -webkit-transform 0.18s linear 0.68s;
  transition: transform 0.18s linear 0.68s;
  transition: transform 0.18s linear 0.68s, -webkit-transform 0.18s linear 0.68s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.Project .project-list .project-visual .visual-img-box .img-wrap:hover .line-bottom {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.53, 0.29, 1) 0.86s;
  transition: -webkit-transform 0.6s cubic-bezier(0, 0.53, 0.29, 1) 0.86s;
  transition: transform 0.6s cubic-bezier(0, 0.53, 0.29, 1) 0.86s;
  transition: transform 0.6s cubic-bezier(0, 0.53, 0.29, 1) 0.86s, -webkit-transform 0.6s cubic-bezier(0, 0.53, 0.29, 1) 0.86s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (max-width: 757px) {
  .Project .project-list .project-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Project .project-list .project-visual {
    text-align: left;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .Project .project-list .project-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Project .project-list .project-visual {
    text-align: left;
  }
}

.ProjectView {
  padding-bottom: 50px;
}

.ProjectView .project-img {
  position: relative;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#0c82fe));
  background-image: linear-gradient(to top, #ffffff, #0c82fe);
}

.ProjectView .project-img .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.ProjectView .project-img .title em {
  font-size: 0.9em;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.ProjectView .project-img .title h2 {
  letter-spacing: 2px;
  font-size: 3em;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.ProjectView .project-info {
  margin-top: 80px;
}

.ProjectView .project-info .title {
  font-size: 1.5em;
  word-break: break-all;
  margin-bottom: 8px;
}

.ProjectView .project-info em {
  font-size: 1em;
  word-break: break-all;
}

.ProjectView .project-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 60px;
}

.ProjectView .project-detail > div strong {
  display: block;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
}

.ProjectView .project-detail > div p {
  font-size: 0.85em;
  color: #858585;
}

.ProjectView .project-detail > div a {
  font-size: 0.85em;
  color: #858585;
}

.ProjectView .project-detail > div a:hover {
  color: #333333;
}

.ProjectView .aa {
  margin-top: 100px;
  /* background-color: #000; */
  text-align: center;
}

.ProjectView .aa a {
  background-color: #e7f5ff;
  padding: 10px 32px;
}

.ProjectView .aa a span {
  margin-right: 4px;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.Other .project-list {
  list-style: none;
  padding: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

.Other .project-list .project-item {
  position: relative;
  height: 300px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Other .project-list .project-item:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.Other .project-list .project-item .project-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: 8px;
  background-color: #e7f5ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Other .project-list .project-item .project-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Other .project-list .project-item .project-top .folder {
  color: #1c7ed6;
}

.Other .project-list .project-item .project-top .folder svg {
  width: 35px;
  height: 35px;
}

.Other .project-list .project-item .project-description p {
  margin-top: 8px;
  font-size: 0.9em;
  color: #464646;
}

.Other .project-list .project-item .project-tech {
  width: 100%;
}

.Other .project-list .project-item .project-tech ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
  font-size: 0.8em;
}

.Other .project-list .project-item .project-tech ul li {
  margin-right: 15px;
  color: #1c7ed6;
  opacity: 0.8;
}
/*# sourceMappingURL=App.css.map */